:root {
  --main: #024442;
  --secondary: #450204;
  --white: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #09607a;
  color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  position: relative;
  display: inline-block;
  margin-tom: 15px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}

span {
  position: absolute;
  left: 100%;
  top: 62%;
  margin-left: 15px;
  white-space: nowrap;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

p.center {
  margin-top: 125px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

p.center2 {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

a {
  color: #041c35;
  text-decoration: none;
}

footer {
    position: fixed;
    bottom: 3vw;
    right: 7vw;
    background-color: #09607a;
    padding: 5px;
}

footer.mail {
    position: fixed;
    bottom: 3vw;
    right: 50vw;
    transform: translate(50%, 0);
    background-color: #09607a;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

small {
  font-size: 12px;
  font-weight: bold;
}

.container {
  justify-content: flex-start;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.photo-ground {
  margin: 15px;
  text-align: center;
  min-width: 29%;
}

.photo-work {
  margin: 15px;
  text-align: center;
  min-width: 39%;
}

.photo-ground img {
  border-radius: 8px;
  max-width: 320px;
  width: 100%;
}

.photo-work img {
  border-radius: 15% / 20%;
  max-width: 385px;
  width: 100%;
}
